<div class="row">
    <div class="col-md-2">
        <p></p>
    </div>
    <div class="col-md-8">
        <h2>WebAPIS - Same Name</h2>
        <p>Esta es una prueba de controladores con el MISMO nombre pero en distintas ubicaciones, usando un 
        NamespaceHttpControllerSelector personalizado que hace que las rutas usen también el namespace para distinguir y exponer acciones
        de los controladores. </p>
    </div>
    <div class="col-md-2">
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Área de Pruebas</h4>
        <p>Introduzca el nombre de la persona a la que quiere realizar un saludo EXTERNO y pulse [Saludar]</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <input type="text" id="txtNombreInterno" class="col-md-10" />
        <input type="button" id="btnSaludoInterno" class="col-md-2" onclick="llamadaAPIInterna()" value="Saludar"/>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <label id="lblResultadoInterno"></label>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <input type="text" id="txtNombreExterno" class="col-md-10" />
        <input type="button" id="btnSaludoExterno" class="col-md-2" onclick="llamadaAPIExterna()" value="Saludar" />
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <label id="lblResultadoExterno"></label>
    </div>
</div>