<div class="row">
    <div class="col-md-2">
        <p></p>
    </div>
    <div class="col-md-8">
        <h2>WebAPIS - Same Name</h2>
        <p>Esta es una prueba de controladores con el MISMO nombre pero en distintas ubicaciones, usando un 
        XXXXXXXX personalizado que hace que las rutas usen también el namespace para distinguir y exponer acciones
        de los controladores. </p>
    </div>
    <div class="col-md-2">
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Área de Pruebas</h4>
    </div>
</div>